.mainscreen {
    position: relative;
    background: linear-gradient(103.98deg, rgba(255, 255, 255, 0) 0, rgba(0, 160, 220, 0.3) 58.81%),
      url(../images/mainscreen-bg.webp) center/cover no-repeat;
  }
  .mainscreen__polygon {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 20%;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
  .mainscreen__body {
    min-height: 100vh;
    padding: 150px 0 250px;
  }
  @media (max-width: 1024px) {
    .menu__sub-link {
      font-size: 20px;
    }
    .mainscreen__polygon {
      display: none;
    }
    .mainscreen__body {
      padding: 100px 0;
    }
  }
  .mainscreen__info {
    position: relative;
    z-index: 1;
    width: 60%;
  }
  .mainscreen__title {
    margin-bottom: 12px;
    color: var(--black);
  }
  @media (max-width: 1365px) {
    .mainscreen__info {
      width: 100%;
      padding: 30px;
      background: rgba(0, 0, 0, 0.7);
    }
    .mainscreen__title {
      color: #fff;
    }
  }
  .mainscreen__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    color: var(--black);
    margin-bottom: 46px;
  }
  @media (max-width: 992px) {
    .mainscreen__text {
      font-size: 22px;
    }
  }
  @media (max-width: 767px) {
    .mainscreen__text {
      font-size: 20px;
    }
    .footer__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    .mainscreen__info {
      padding: 30px 20px;
    }
    .mainscreen__btn {
      width: 100%;
    }
  }
  .mainscreen__decor {
    width: 460px;
    position: absolute;
    z-index: 0;
    right: 20%;
    top: 25%;
    pointer-events: none;
  }
  .mainscreen__decor img {
    opacity: 0.7;
    -webkit-filter: drop-shadow(5px 15px 40px rgba(30, 35, 66, 0.15));
    filter: drop-shadow(5px 15px 40px rgba(30, 35, 66, 0.15));
  }
  @media (max-width: 1365px) {
    .mainscreen__text {
      color: #fff;
    }
    .mainscreen__decor {
      width: 400px;
      right: 10%;
    }
  }
  @media (max-width: 992px) {
    .mainscreen__decor {
      width: 300px;
      right: 3%;
    }
  }